body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f8fb;
}

h4, h1,h3{
  font-weight: 400;
  color: #bbc5c9!important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li,p{
  color: #a9b2b8!important;
    line-height: 24px!important;
    letter-spacing: 1.5px!important;
    font-size: 14px!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
  padding: 2rem;
}

.blog-title-chart-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 84%;
  margin: auto;
  padding: 2rem;
}

.blog-margin {
  background-color: #fff;
  width: 250px;
  height: 100px;
  text-align: left;
  padding: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
  border-radius: 5px;
}

.blog-margin p{
margin: 0px;
}

.blog-margin h1{
  text-align: center;
  
}

.blog-title-block{
  width: 40%;
 background-color: #fff;
 padding: 20px; 
 text-align: left;
 /* padding: 10px; */
 box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
 border-radius: 5px;
}

.external-links{
  width: 400px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
  border-radius: 5px;
}

.pages-blocks{
  width: 32%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  height: fit-content;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
  border-radius: 5px;
  text-align: left;
}

.external-links h3 , .number-of-links h1{
  font-weight: 200;
}

.external-links , .number-of-links{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  height: fit-content;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
  border-radius: 5px;
  text-align: left;
}





/* home styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: left;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}